@model epeacweb.Models.CommunicationPhraseViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CommunicationPhraseViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="phraseText" class="control-label"></label>
                <input asp-for="phraseText" class="form-control" />
                <span asp-validation-for="phraseText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phraseValue" class="control-label"></label>
                <input asp-for="phraseValue" class="form-control" />
                <span asp-validation-for="phraseValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-light btn-block" />
            </div>
        </form>
        <a asp-action="Index" class="btn btn-light btn-block">Back</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
